numpy
toml==0.10.2
tqdm==4.67.1
openai==1.68.0
pandas==2.2.3
pyarrow==19.0.1
faiss-cpu
python-igraph==0.11.8
networkx==3.4.2
scipy==1.15.2
matplotlib==3.10.1
jsonlines==4.0.0
setuptools==78.1.0
ruff==0.11.1
gradio==5.30.0
streamlit==1.45.1
streamlit-chat==0.1.1
bs4==0.0.2
langchain==0.3.25
langchain-openai==0.3.18
